<nav class="navbar navbar-default" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/suscriber">
                <span class="glyphicon glyphicon glyphicon-leaf"></span>
                Eje Turismo
            </a>
        </div>

        <ul class="nav navbar-nav navbar-left">
            <li><a href="/suscriber/map">Inicio</a></li>
            <li><a href="/suscriber/profile">Perfil</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/logout">Logout</a></li>
        </ul>

    </div>
</nav>
