<nav class="navbar navbar-default" role="navigation">
    <div class="container">

        <div class="navbar-header">
          <a class="navbar-brand" href="/">
              <span class="glyphicon glyphicon glyphicon-leaf"></span>
              Eje Turismo
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/signup">Registarse</a></li>
            <li><a href="/user/login">Loguearse</a></li>
        </ul>

    </div>
</nav>
