<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <div class="container">
    <main>
      <div class="jumbotron">
        <h1 class='text-center'>El Link ha expirado</h1>
      </div>

    </main>
    </div>
    <%include partials/footer %>
  </body>
</html>
