<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header_suscriber %>
    </header>
    <div class="container">
      <main>
        <h1>Suscriber</h1>
      </main>
    </div>
    <%include ../partials/footer %>
  </body>
</html>

</script>
