<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="container">
      <main>
        <div class="jumbotron">
          <h3>
            El usuario se ha creado, una vez el registro sea aprovado por un administrador
            recibira un email para la confirmacion de su cuenta.
          </h3>
        </div>
      </main>
    </div>
    <%include ../partials/footer %>
  </body>
</html>
