<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="container">
      <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
      <% } %>
    <main>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h3>Recuperacion de contrasena</h3><br>
          <form action='/user/password_recovery' method='post'>
            <div class="form-group">
              <label for="email">Ingresa el email con el que te registraste</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>
              <input type="submit" id="login" class="btn btn-primary form-control" value="Recuperar contrasena">
              <span id='errorLogin'></span>
          </form>
        </div>
      </div>
    </main>
    </div>
    <%include ../partials/footer %>
  </body>
</html>
